node_modules
.git
.tanstack
dist
.env
docker.env
*.log
.vscode
.prettierrc
# Keep these as they are needed for the build process
# tsconfig.json
# vite.config.ts
# lingui.config.ts
# prisma/schema.prisma
