# Default
VITE_APP_NAME=

# OpenBao Config
BAO_ADDR=
BAO_PATH=
BAO_ROLE_ID=
BAO_SECRET_ID=

# Project run config
POSTGRES_PORT_EXTERNAL=

# Image storage
UPLOAD_DIR=

# Recaptcha
## Client-side (Public)
VITE_RECAPTCHA_SITE_KEY=

# SMTP Configuration (Production)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
