.env
docker.env
node_modules
.turbo
.next
dist
.output
.DS_Store
.vscode
.idea
.agent
.agent/*
yarn.lock
yarn-error.log
.agent.md
todo.md
src/generated/*
prisma/migrations/*
prisma/migration_lock.toml
public/shared/*