.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: -0.025em;
  margin-bottom: var(--spacing-md);
}

p {
  margin-bottom: var(--spacing-md);
}
